html{
    background: radial-gradient(#ffe3b8, #fffeea);
    background-size: cover;
}
$sunWidth: 60%;
.main{
    background: linear-gradient(#1ea9bf, #404666, #331346, black);
    background-size: cover;
    overflow:hidden;
/*
* THE SUN
*/
  &::after{
    content:"";
    display: block;
    width: $sunWidth;
    padding-bottom: $sunWidth;
//    height: $sunWidth;
    background-color: yellow;
    border-radius: 50%;
    background: radial-gradient(rgba(249,216,75,.2) 50%, rgba(249,216,75,.1) 40%);
    top: -10%;
//    margin-left: 50%;
    position: absolute;
  }
//the rays
  &::before{
    content:"";
    display: block;
    width: $sunWidth/3;
      padding-bottom: $sunWidth*3;
//    height: $sunWidth/3;
    background: linear-gradient(rgba(249,216,75,.2) 60%, rgba(249,216,75,.05) 40%);
    position: absolute;
    transform: rotate(-10deg);
    left: 20%;
    top: -150px;
    box-shadow: 100px -100px 10px rgba(249,216,75,.1);
  }
}

