.extra2 {
  position: relative;
  padding-bottom: 1%;
  width: 1%;
  border-radius: 50%;
 // background: #e7feff;
  opacity: .3;
  top: 100%;
  left: random(1000) + px;
  background: radial-gradient(circle at 90% 5px, #e7feff, #000);
  animation: bubbles 10s ease-in-out 0s infinite forwards;

  &:before {
    content: "";
    position: absolute;
    padding-bottom: 40%;
    width: 40%;
    border-radius: 50%;
    background: #e7feff;
    opacity: .7;
    top: -70%;
    left: 20%;
  }
  &:after {
    content: "";
    position: absolute;
    padding-bottom: 40%;
    width: 40%;
    border-radius: 50%;
    background: #e7feff;
    opacity: 1.0;
    top: 140%;
    left: 50%;
  } 
}

@keyframes bubbles {
  0%   {transform: translate(0px);}
  100% {transform: translate(0px, -1000px);}
}

//Tilt or Sway for the titles
@keyframes ocean-tilt {
  0%   {transform: rotate(10deg) ;}
  100% {transform: rotate(-10deg) ;}
}

@keyframes ocean-tilt2 {
  0%   {transform: rotate(7deg) ;}
  100% {transform: rotate(-7deg) ;}
}

//@keyframes sway1 {
//  0% {transform: rotateZ(10deg) translateY(-10px) translateX(-100px);}
//  100% {transform: rotateZ(-10deg) translateY(-10px) translateX(100px);}
//}

.preamble h3 {
	position: absolute;
	animation: ocean-tilt 13s ease-in-out 0s infinite alternate;
}

.explanation h3 {
	position: absolute;
	animation: ocean-tilt2 12s ease-in-out 0s infinite alternate;
    // animation-name: ocean-tilt;
    // animation-duration: 20s;
    // animation-timing-function: linear;
    // animation-delay: 0s;
    // animation-iteration-count: infinite;
    // animation-direction: alternate;
    }