.extra2 {
  position: relative;
  padding-bottom: 1%;
  width: 10px;
  border-radius: 50%;
  opacity: .3;
  top: 100%;
  left: 50 + random(100) + px;
  background: radial-gradient(circle at 90% 5px, #e7feff, #000);
  animation: bubbles 11s ease-in-out 0s infinite forwards;

  &:before {
    content: "";
    position: absolute;
    padding-bottom: 40%;
    width: 40%;
    border-radius: 50%;
    background: #e7feff;
    opacity: .7;
    top: -70%;
    left: 20%;
  }
  &:after {
    content: "";
    position: absolute;
    padding-bottom: 40%;
    width: 40%;
    border-radius: 50%;
    background: #e7feff;
    opacity: 1.0;
    top: 140%;
    left: 50%;
  } 
}

@keyframes bubbles {
  0%   {transform: translate(0px);}
  100% {transform: translate(0px, -2000px);}
}

//Tilt or Sway for the titles
@keyframes ocean-tilt {
	0%   {transform-origin: 25% 0%; transform: rotate(5deg) translateY(5px);}
	100% {transform-origin: 25% 0%; transform: rotate(-5deg) translateY(-5px);}
}

@keyframes ocean-tilt1 {
	0%   {transform-origin: 25% 0%; transform: rotate(-5deg) translateY(-5px);}
	100% {transform-origin: 25% 0%; transform: rotate(5deg) translateY(5px);}
}

@keyframes ocean-tilt2 {
	0%   {transform-origin: 25% 0%; transform: rotate(7deg) translateY(7px);}
	100% {transform-origin: 25% 0%; transform: rotate(-7deg) translateY(-7px);}
}

@keyframes ocean-tilt3 {
	0%   {transform-origin: 25% 0%; transform: rotate(5deg) translateY(5px);}
	100% {transform-origin: 25% 0%; transform: rotate(-5deg) translateY(-5px);}
}

//If we want to use sway instead of ocean-tilt
//@keyframes sway1 {
//  0% {transform: rotateZ(10deg) translateY(-10px) translateX(-100px);}
//  100% {transform: rotateZ(-10deg) translateY(-10px) translateX(100px);}
//}

.explanation h3 {
	position: relative;
	animation: ocean-tilt 6s ease-in-out 0s infinite alternate;
}

.participation h3 {
	position: relative;
	animation: ocean-tilt1 7s ease-in-out 0s infinite alternate;
}

.benefits h3 {
	position: relative;
	animation: ocean-tilt2 8s ease-in-out 0s infinite alternate;
}

.requirements h3 {
	position: relative;
	animation: ocean-tilt3 9s ease-in-out 0s infinite alternate;
}