/* --------------------------------
xTypography
-------------------------------- */

h1, h2, h3 {
	font-family: $secondary-font;
	color: $color-2;
}

h1 {
	font-size: 2.8rem;
	font-weight: 300;
	line-height: 1.2;
	margin: 0 0 .4em;

	@include MQ(S) {
		font-size: 3.4rem;
	}

	@include MQ(M) {
		font-size: 4.2rem;
	}
}

h2 {
	font-weight: bold;
	text-transform: uppercase;
	margin: 1em 0;

	@include MQ(S) {
		font-size: 2.4rem;
		margin: 1.6em 0 1em;
	}
}

h3 {
	font-weight: bold;
	margin: .8em 0;

	@include MQ(S) {
		font-size: 2.2rem;
		margin: 1.4em 0 .4em;
	}
}

section > h2::before {
	/* number before each section title */
	color: darken($color-4, 15%);
}

p {
	font-size: 1.6rem;
	line-height: 1.6;
	color: lighten($color-2, 25%);

	a {
		color: $color-1;
		text-decoration: none;
        border-bottom: 2px solid $color-1;
		&:hover {
			color: lighten($color-1, 10%);
			font-weight: bold;
		}
	}

	@include MQ(S) {
		font-size: 1.8rem;
		line-height: 1.8;
	}
}

@mixin createDefinition($definition){
    content:$definition;
        display: block;
        position: absolute;
        background-color: rgba(225,225,225,.5);
        border-radius: 10%;
        color: darken($color-5, 30%);
        padding: 20px;
        z-index:2;
        left: 10px;   
}

abbr{
    font-weight: bold;
    color: #fff;
    border-bottom: 2px solid #fff;
    &[title="Cascading Style Sheets"]:hover::before{
       @include createDefinition("Cascading Style Sheets");       
        }
    &[title="HyperText Markup Language"]:hover::before{
       @include createDefinition("HyperText Markup Language");       
        }
    &[title="Web Standards Project"]:hover::before{
       @include createDefinition("Web Standards Project");       
        }
    &[title="Document Object Model"]:hover::before{
       @include createDefinition("Document Object Model");       
        }
    &[title="World Wide Web Consortium"]:hover::before{
       @include createDefinition("World Wide Web Consortium");       
        }
    }

/* --------------------------------
xButtons
-------------------------------- */

.summary p a, .participation a:nth-child(1), .participation a:nth-child(2) {
	border: none;
	box-shadow: none;
	border-radius: .25em;
	font: {
		size: 1.4rem;
		family: $secondary-font;
	}
	color: #fff;
	padding: .6em .8em;
	cursor: pointer;
	background: $color-5;

	&:focus {
		outline: none;
	}

	&:hover {
		background: lighten( $color-5, 5%);
        color: #fff;
        font-weight: normal;
	}

	&.btn-success {
		background: $success;

		.no-touch &:hover {
			background: lighten($success, 5%);
		}
	}

	&.btn-alert {
		background: $alert;

		.no-touch &:hover {
			background: lighten($alert, 5%);
		}
	}

	&.btn-outline {
		color: $color-1;
		background: transparent;
		box-shadow: inset 0 0 0 1px  $color-5;

		.no-touch &:hover {
			color: $color-5;
			background: $color-1;
		}
	}

	@include MQ(S) {
		font-size: 1.6rem;
	}
}

.cd-buttons .cd-box:nth-of-type(2) span {
	/* CSS class name color */
	color: $color-1;
}

/* --------------------------------
xFooter
-------------------------------- */
footer{
    margin-top: 100px;
    width: 100%;
    background-color: black;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    & a {
        color: #666;
        font-weight: bold;
        &:hover {
			color: lighten(#666, 10%);
			font-weight: bold;
		}
    } 
    
}


/* --------------------------------
xAside
-------------------------------- */
.wrapper{
    color: red;
    & li{
        color: #fff;
        background-color: darken(#1ea9bf, 20%);
        margin: 5px;
        padding: 10px;
        display: flex;
        flex-flow: column wrap;
        &:hover{
            background-color: darken(#1ea9bf, 10%);
        }
    }
    & a{
        
        color: lighten(#1ea9bf, 30%);
        &:first-of-type{
        font-weight: bold;
        color: #fff;
        }
    }
}